{% extends 'layout.twig' %}

{% block contents %}
     <div class="container-lg">
          <h1>
               <div class="mb-5">
                    <div class="display-1">
                         <p>Телефонный справочник</p>
                    </div>
               </div>
          </h1>
     </div>

     <div class="container">
          <form class="d-flex bd-highlight" action="/list" method="get">
               <div class="p-2 flex-fill bd-highlight">
                    <input type="search" class="form-control" name="phonenumber" placeholder="Номер телефона" aria-label="Номер телефона">
               </div>
               <div class="p-2 flex-fill bd-highlight">
                    <input type="search" class="form-control" name="fio" placeholder="Ф.И.О." value="{{ fio }}" aria-label="Ф.И.О.">
               </div>
               <div class="p-2 flex-fill bd-highlight">
                    <input type="search" class="form-control" name="organizationName" placeholder="Название организации" aria-label="Название организации">
               </div>

               <div class="p-2 flex-fill bd-highlight">
                    <button type="submit" class="btn btn-primary">Поиск</button>
               </div>
          </form>
     </div>
{% block list %}
     {% endblock %}

{% endblock %}
