{% extends 'index1.twig' %}

{% block contents %}
     <div class="container">
     <form class="row row-cols-lg-auto g-3 align-items-center">
          <div class="col-sm-7">
               <input type="text" class="form-control" placeholder="City" aria-label="Номер телефона">
          </div>
          <div class="col-sm">
               <input type="text" class="form-control" placeholder="State" aria-label="Ф.И.О.">
          </div>
          <div class="col-sm">
               <input type="text" class="form-control" placeholder="Zip" aria-label="Название организации">
          </div>

          <div class="col-12">
               <button type="submit" class="btn btn-primary">Submit</button>
          </div>
     </form>
     </div>

{% endblock %}
